basePath: /
definitions:
  models.AffectedComponent:
    properties:
      code:
        type: string
      name:
        type: string
      new_status:
        type: string
      old_status:
        type: string
    type: object
  models.Chain:
    properties:
      baseChain:
        type: string
      baseChainProtocol:
        type: string
      chain:
        type: string
      deposit_status:
        type: string
      displayName:
        type: string
      isDynamic:
        type: boolean
      maxTransactFeeWithdraw:
        type: number
      maxWithdrawAmt:
        type: number
      minDepositAmt:
        type: number
      minTransactFeeWithdraw:
        type: number
      minWithdrawAmt:
        type: number
      numOfConfirmations:
        type: integer
      numOfFastConfirmations:
        type: integer
      transactFeeRateWithdraw:
        type: number
      transactFeeWithdraw:
        type: number
      withdrawFeeType:
        type: string
      withdrawPrecision:
        type: integer
      withdrawQuotaPerDay:
        type: number
      withdrawQuotaPerYear:
        type: number
      withdrawQuotaTotal:
        type: number
      withdrawStatus:
        type: string
    type: object
  models.Component:
    properties:
      created_at:
        type: string
      description:
        type: string
      group:
        type: boolean
      group_id:
        type: string
      id:
        type: string
      name:
        type: string
      only_show_if_degraded:
        type: boolean
      page_id:
        type: string
      position:
        type: integer
      showcase:
        type: boolean
      status:
        type: string
      updated_at:
        type: string
    type: object
  models.Currency:
    properties:
      chains:
        items:
          $ref: '#/definitions/models.Chain'
        type: array
      currency:
        type: string
      instStatus:
        type: string
    type: object
  models.Incident:
    properties:
      components:
        items:
          $ref: '#/definitions/models.Component'
        type: array
      created_at:
        type: string
      id:
        type: string
      impact:
        type: string
      incident_updates:
        items:
          $ref: '#/definitions/models.IncidentUpdate'
        type: array
      monitoring_at:
        type: string
      name:
        type: string
      page_id:
        type: string
      resolved_at:
        type: string
      shortlink:
        type: string
      started_at:
        type: string
      status:
        type: string
      updated_at:
        type: string
    type: object
  models.IncidentUpdate:
    properties:
      affected_components:
        items:
          $ref: '#/definitions/models.AffectedComponent'
        type: array
      body:
        type: string
      created_at:
        type: string
      custom_tweet:
        type: object
      deliver_notifications:
        type: boolean
      display_at:
        type: string
      id:
        type: string
      incident_id:
        type: string
      status:
        type: string
      tweet_id:
        type: string
      updated_at:
        type: string
    type: object
  models.MarketStatus:
    properties:
      affectedSymbols:
        type: string
      haltEndTime:
        type: integer
      haltReason:
        type: integer
      haltStartTime:
        type: integer
      marketStatus:
        example: 1
        type: integer
    type: object
  models.Page:
    properties:
      id:
        type: string
      name:
        type: string
      time_zone:
        type: string
      updated_at:
        type: string
      url:
        type: string
    type: object
  models.Response:
    properties:
      code:
        type: integer
      data:
        type: object
      message:
        type: string
    type: object
  models.ResponseV1:
    properties:
      data:
        type: object
      status:
        type: string
    type: object
  models.ScheduledMaintenance:
    properties:
      components:
        items:
          $ref: '#/definitions/models.Component'
        type: array
      created_at:
        type: string
      id:
        type: string
      impact:
        type: string
      incident_updates:
        items:
          $ref: '#/definitions/models.IncidentUpdate'
        type: array
      monitoring_at:
        type: string
      name:
        type: string
      page_id:
        type: string
      resolved_at:
        type: string
      scheduled_for:
        type: string
      scheduled_until:
        type: string
      shortlink:
        type: string
      started_at:
        type: string
      status:
        type: string
      updated_at:
        type: string
    type: object
  models.Summary:
    properties:
      components:
        items:
          $ref: '#/definitions/models.Component'
        type: array
      incidents:
        items:
          $ref: '#/definitions/models.Incident'
        type: array
      page:
        $ref: '#/definitions/models.Page'
        type: object
      scheduled_maintenances:
        items:
          $ref: '#/definitions/models.ScheduledMaintenance'
        type: array
      status:
        $ref: '#/definitions/models.SystemStatus'
        type: object
    type: object
  models.Symbol:
    properties:
      amount-precision:
        type: integer
      base-currency:
        type: string
      buy-market-max-order-value:
        type: number
      charge-time:
        type: string
      init-nav:
        type: number
      leverage_ratio:
        type: number
      limit-order-max-order-amt:
        type: number
      limit-order-min-order-amt:
        type: number
      max-order-amt:
        type: number
      max-order-value:
        type: number
      mgmt-fee-rate:
        type: number
      min-order-amt:
        type: number
      min-order-value:
        type: number
      price-precision:
        type: integer
      quote-currency:
        type: string
      rebal-threshold:
        type: number
      rebal-time:
        type: string
      sell-market-min-order-amt:
        type: number
      sell_market_max_order_amt:
        type: number
      state:
        type: string
      symbol:
        type: string
      symbol-partition:
        type: string
      underlying:
        type: string
      value-precision:
        type: integer
    type: object
  models.SystemStatus:
    properties:
      description:
        type: string
      indicator:
        type: string
    type: object
host: api.testnet.huobi.pro
info:
  contact:
    email: qishiwenjun@163.com
    name: Turing Zhu
  description: Huobi API
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  title: Huobi API
  version: "0.1"
paths:
  /api/v2/summary.json:
    get:
      consumes:
      - application/json
      description: This endpoint allows users to get system status, Incidents and planned maintenance.
      operationId: Summary
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/models.Summary'
            - properties:
                components:
                  items:
                    $ref: '#/definitions/models.Component'
                  type: array
                incidents:
                  items:
                    allOf:
                    - $ref: '#/definitions/models.Incident'
                    - properties:
                        incident_updates:
                          items:
                            allOf:
                            - $ref: '#/definitions/models.IncidentUpdate'
                            - properties:
                                affected_components:
                                  items:
                                    $ref: '#/definitions/models.AffectedComponent'
                                  type: array
                              type: object
                          type: array
                      type: object
                  type: array
                page:
                  $ref: '#/definitions/models.Page'
                scheduled_maintenances:
                  items:
                    $ref: '#/definitions/models.ScheduledMaintenance'
                  type: array
                status:
                  $ref: '#/definitions/models.SystemStatus'
              type: object
      summary: Get system status
      tags:
      - Reference Data
  /v1/common/currencys:
    get:
      consumes:
      - application/json
      description: This endpoint returns all Huobi's supported trading currencies.
      operationId: SupportCurrenciesV1
      produces:
      - application/json
      responses:
        "200":
          description: supported currency
          schema:
            allOf:
            - $ref: '#/definitions/models.Response'
            - properties:
                data:
                  items:
                    type: string
                  type: array
              type: object
      summary: Get all Supported Currencies
      tags:
      - Reference Data
  /v1/common/symbols:
    get:
      consumes:
      - application/json
      description: This endpoint returns all Huobi's supported trading symbol.
      operationId: SupportedTradingSymbolV1
      produces:
      - application/json
      responses:
        "200":
          description: Supported Trading Symbol List
          schema:
            allOf:
            - $ref: '#/definitions/models.ResponseV1'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/models.Symbol'
                  type: array
              type: object
      summary: Get all Supported Trading Symbol
      tags:
      - Reference Data
  /v1/common/timestamp:
    get:
      consumes:
      - application/json
      description: This endpoint returns the current timestamp, i.e. the number of milliseconds that have elapsed since 00:00:00 UTC on 1 January 1970.
      operationId: TimestampV1
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            type: integer
      summary: Get Current Timestamp
      tags:
      - Reference Data
  /v2/market-status:
    get:
      consumes:
      - application/json
      description: 'The enum values of market status includes: 1 - normal (order submission & cancellation are allowed)ï¼Œ'
      operationId: MarketStatusV2
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/models.Response'
            - properties:
                data:
                  $ref: '#/definitions/models.MarketStatus'
              type: object
      summary: The endpoint returns current market status
      tags:
      - Reference Data
  /v2/reference/currencies:
    get:
      consumes:
      - application/json
      description: API user could query static reference information for each currency, as well as its corresponding chain(s). (Public Endpoint)
      operationId: CurrencyAndChainsV2
      parameters:
      - description: btc, ltc, etc ...(available currencies in Huobi Global)
        in: path
        name: currency
        type: string
      - description: true or false (if not filled, default value is true)
        in: path
        name: authorizedUser
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: Currency & Chains list
          schema:
            allOf:
            - $ref: '#/definitions/models.Response'
            - properties:
                data:
                  allOf:
                  - $ref: '#/definitions/models.Currency'
                  - properties:
                      chains:
                        items:
                          $ref: '#/definitions/models.Chain'
                        type: array
                    type: object
              type: object
      summary: Currency & Chains
      tags:
      - Reference Data
schemes:
- https
securityDefinitions:
  ApiKeyAuth:
    in: path
    name: AccessKeyId
    type: apiKey
swagger: "2.0"
