basePath: /api
definitions:
  models.MarketStatus:
    properties:
      code:
        type: integer
      data:
        properties:
          affectedSymbols:
            type: string
          haltEndTime:
            type: integer
          haltReason:
            type: integer
          haltStartTime:
            type: integer
          marketStatus:
            example: 1
            type: integer
        type: object
      message:
        type: string
    type: object
  models.Summary:
    properties:
      status:
        type: Status
    type: object
host: api.testnet.huobi.pro
info:
  contact:
    email: qishiwenjun@163.com
    name: Turing Zhu
  description: Huobi API
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  title: Huobi API
  version: "0.1"
paths:
  /v2/market-status:
    get:
      consumes:
      - application/json
      description: 'The enum values of market status includes: 1 - normal (order submission & cancellation are allowed)，'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.MarketStatus'
      summary: The endpoint returns current market status
      tags:
      - Reference Data
  /v2/summary.json:
    get:
      consumes:
      - application/json
      description: This endpoint allows users to get system status, Incidents and planned maintenance.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/models.Summary'
      summary: Get system status
      tags:
      - Reference Data
swagger: "2.0"
