{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Huobi API",
        "title": "Huobi API",
        "contact": {
            "name": "Turing Zhu",
            "email": "qishiwenjun@163.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "0.1"
    },
    "host": "api.testnet.huobi.pro",
    "basePath": "/",
    "paths": {
        "/api/v2/summary.json": {
            "get": {
                "description": "This endpoint allows users to get system status, Incidents and planned maintenance.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Reference Data"
                ],
                "summary": "Get system status",
                "operationId": "Summary",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/models.Summary"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "components": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.Component"
                                            }
                                        },
                                        "incidents": {
                                            "type": "array",
                                            "items": {
                                                "allOf": [
                                                    {
                                                        "$ref": "#/definitions/models.Incident"
                                                    },
                                                    {
                                                        "type": "object",
                                                        "properties": {
                                                            "incident_updates": {
                                                                "type": "array",
                                                                "items": {
                                                                    "allOf": [
                                                                        {
                                                                            "$ref": "#/definitions/models.IncidentUpdate"
                                                                        },
                                                                        {
                                                                            "type": "object",
                                                                            "properties": {
                                                                                "affected_components": {
                                                                                    "type": "array",
                                                                                    "items": {
                                                                                        "$ref": "#/definitions/models.AffectedComponent"
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    ]
                                                                }
                                                            }
                                                        }
                                                    }
                                                ]
                                            }
                                        },
                                        "page": {
                                            "$ref": "#/definitions/models.Page"
                                        },
                                        "scheduled_maintenances": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.ScheduledMaintenance"
                                            }
                                        },
                                        "status": {
                                            "$ref": "#/definitions/models.SystemStatus"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/common/currencys": {
            "get": {
                "description": "This endpoint returns all Huobi's supported trading currencies.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Reference Data"
                ],
                "summary": "Get all Supported Currencies",
                "operationId": "SupportCurrenciesV1",
                "responses": {
                    "200": {
                        "description": "supported currency",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/models.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/common/symbols": {
            "get": {
                "description": "This endpoint returns all Huobi's supported trading symbol.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Reference Data"
                ],
                "summary": "Get all Supported Trading Symbol",
                "operationId": "SupportedTradingSymbolV1",
                "responses": {
                    "200": {
                        "description": "Supported Trading Symbol List",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/models.ResponseV1"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/models.Symbol"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v1/common/timestamp": {
            "get": {
                "description": "This endpoint returns the current timestamp, i.e. the number of milliseconds that have elapsed since 00:00:00 UTC on 1 January 1970.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Reference Data"
                ],
                "summary": "Get Current Timestamp",
                "operationId": "TimestampV1",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    }
                }
            }
        },
        "/v2/market-status": {
            "get": {
                "description": "The enum values of market status includes: 1 - normal (order submission \u0026 cancellation are allowed)，",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Reference Data"
                ],
                "summary": "The endpoint returns current market status",
                "operationId": "MarketStatusV2",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/models.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/models.MarketStatus"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/v2/reference/currencies": {
            "get": {
                "description": "API user could query static reference information for each currency, as well as its corresponding chain(s). (Public Endpoint)",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Reference Data"
                ],
                "summary": "Currency \u0026 Chains",
                "operationId": "CurrencyAndChainsV2",
                "parameters": [
                    {
                        "type": "string",
                        "description": "btc, ltc, etc ...(available currencies in Huobi Global)",
                        "name": "currency",
                        "in": "path"
                    },
                    {
                        "type": "boolean",
                        "description": "true or false (if not filled, default value is true)",
                        "name": "authorizedUser",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Currency \u0026 Chains list",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/models.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "$ref": "#/definitions/models.Currency"
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "chains": {
                                                            "type": "array",
                                                            "items": {
                                                                "$ref": "#/definitions/models.Chain"
                                                            }
                                                        }
                                                    }
                                                }
                                            ]
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "models.AffectedComponent": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "new_status": {
                    "type": "string"
                },
                "old_status": {
                    "type": "string"
                }
            }
        },
        "models.Chain": {
            "type": "object",
            "properties": {
                "baseChain": {
                    "type": "string"
                },
                "baseChainProtocol": {
                    "type": "string"
                },
                "chain": {
                    "type": "string"
                },
                "deposit_status": {
                    "type": "string"
                },
                "displayName": {
                    "type": "string"
                },
                "isDynamic": {
                    "type": "boolean"
                },
                "maxTransactFeeWithdraw": {
                    "type": "number"
                },
                "maxWithdrawAmt": {
                    "type": "number"
                },
                "minDepositAmt": {
                    "type": "number"
                },
                "minTransactFeeWithdraw": {
                    "type": "number"
                },
                "minWithdrawAmt": {
                    "type": "number"
                },
                "numOfConfirmations": {
                    "type": "integer"
                },
                "numOfFastConfirmations": {
                    "type": "integer"
                },
                "transactFeeRateWithdraw": {
                    "type": "number"
                },
                "transactFeeWithdraw": {
                    "type": "number"
                },
                "withdrawFeeType": {
                    "type": "string"
                },
                "withdrawPrecision": {
                    "type": "integer"
                },
                "withdrawQuotaPerDay": {
                    "type": "number"
                },
                "withdrawQuotaPerYear": {
                    "type": "number"
                },
                "withdrawQuotaTotal": {
                    "type": "number"
                },
                "withdrawStatus": {
                    "type": "string"
                }
            }
        },
        "models.Component": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "group": {
                    "type": "boolean"
                },
                "group_id": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "only_show_if_degraded": {
                    "type": "boolean"
                },
                "page_id": {
                    "type": "string"
                },
                "position": {
                    "type": "integer"
                },
                "showcase": {
                    "type": "boolean"
                },
                "status": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.Currency": {
            "type": "object",
            "properties": {
                "chains": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.Chain"
                    }
                },
                "currency": {
                    "type": "string"
                },
                "instStatus": {
                    "type": "string"
                }
            }
        },
        "models.Incident": {
            "type": "object",
            "properties": {
                "components": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.Component"
                    }
                },
                "created_at": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "impact": {
                    "type": "string"
                },
                "incident_updates": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.IncidentUpdate"
                    }
                },
                "monitoring_at": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "page_id": {
                    "type": "string"
                },
                "resolved_at": {
                    "type": "string"
                },
                "shortlink": {
                    "type": "string"
                },
                "started_at": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.IncidentUpdate": {
            "type": "object",
            "properties": {
                "affected_components": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.AffectedComponent"
                    }
                },
                "body": {
                    "type": "string"
                },
                "created_at": {
                    "type": "string"
                },
                "custom_tweet": {
                    "type": "object"
                },
                "deliver_notifications": {
                    "type": "boolean"
                },
                "display_at": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "incident_id": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "tweet_id": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.MarketStatus": {
            "type": "object",
            "properties": {
                "affectedSymbols": {
                    "type": "string"
                },
                "haltEndTime": {
                    "type": "integer"
                },
                "haltReason": {
                    "type": "integer"
                },
                "haltStartTime": {
                    "type": "integer"
                },
                "marketStatus": {
                    "type": "integer",
                    "example": 1
                }
            }
        },
        "models.Page": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "time_zone": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                }
            }
        },
        "models.Response": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "data": {
                    "type": "object"
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "models.ResponseV1": {
            "type": "object",
            "properties": {
                "data": {
                    "type": "object"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "models.ScheduledMaintenance": {
            "type": "object",
            "properties": {
                "components": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.Component"
                    }
                },
                "created_at": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "impact": {
                    "type": "string"
                },
                "incident_updates": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.IncidentUpdate"
                    }
                },
                "monitoring_at": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                },
                "page_id": {
                    "type": "string"
                },
                "resolved_at": {
                    "type": "string"
                },
                "scheduled_for": {
                    "type": "string"
                },
                "scheduled_until": {
                    "type": "string"
                },
                "shortlink": {
                    "type": "string"
                },
                "started_at": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "updated_at": {
                    "type": "string"
                }
            }
        },
        "models.Summary": {
            "type": "object",
            "properties": {
                "components": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.Component"
                    }
                },
                "incidents": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.Incident"
                    }
                },
                "page": {
                    "type": "object",
                    "$ref": "#/definitions/models.Page"
                },
                "scheduled_maintenances": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.ScheduledMaintenance"
                    }
                },
                "status": {
                    "type": "object",
                    "$ref": "#/definitions/models.SystemStatus"
                }
            }
        },
        "models.Symbol": {
            "type": "object",
            "properties": {
                "amount-precision": {
                    "type": "integer"
                },
                "base-currency": {
                    "type": "string"
                },
                "buy-market-max-order-value": {
                    "type": "number"
                },
                "charge-time": {
                    "type": "string"
                },
                "init-nav": {
                    "type": "number"
                },
                "leverage_ratio": {
                    "type": "number"
                },
                "limit-order-max-order-amt": {
                    "type": "number"
                },
                "limit-order-min-order-amt": {
                    "type": "number"
                },
                "max-order-amt": {
                    "type": "number"
                },
                "max-order-value": {
                    "type": "number"
                },
                "mgmt-fee-rate": {
                    "type": "number"
                },
                "min-order-amt": {
                    "type": "number"
                },
                "min-order-value": {
                    "type": "number"
                },
                "price-precision": {
                    "type": "integer"
                },
                "quote-currency": {
                    "type": "string"
                },
                "rebal-threshold": {
                    "type": "number"
                },
                "rebal-time": {
                    "type": "string"
                },
                "sell-market-min-order-amt": {
                    "type": "number"
                },
                "sell_market_max_order_amt": {
                    "type": "number"
                },
                "state": {
                    "type": "string"
                },
                "symbol": {
                    "type": "string"
                },
                "symbol-partition": {
                    "type": "string"
                },
                "underlying": {
                    "type": "string"
                },
                "value-precision": {
                    "type": "integer"
                }
            }
        },
        "models.SystemStatus": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string"
                },
                "indicator": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "AccessKeyId",
            "in": "path"
        }
    }
}