{
    "schemes": [
        "https"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Huobi API",
        "title": "Huobi API",
        "contact": {
            "name": "Turing Zhu",
            "email": "qishiwenjun@163.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "0.1"
    },
    "host": "api.testnet.huobi.pro",
    "basePath": "/",
    "paths": {
        "/v1/common/timestamp": {
            "get": {
                "description": "This endpoint returns the current timestamp, i.e. the number of milliseconds that have elapsed since 00:00:00 UTC on 1 January 1970.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Reference Data"
                ],
                "summary": "Get Current Timestamp",
                "operationId": "TimestampV1",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "integer"
                        }
                    }
                }
            }
        }
    },
    "securityDefinitions": {
        "ApiKeyAuth": {
            "type": "apiKey",
            "name": "AccessKeyId",
            "in": "path"
        }
    }
}