{
    "swagger": "2.0",
    "info": {
        "description": "Huobi API",
        "title": "Huobi API",
        "contact": {
            "name": "Turing Zhu",
            "email": "qishiwenjun@163.com"
        },
        "license": {
            "name": "MIT License",
            "url": "https://opensource.org/licenses/MIT"
        },
        "version": "0.1"
    },
    "host": "api.testnet.huobi.pro",
    "basePath": "/api",
    "paths": {
        "/v2/market-status": {
            "get": {
                "description": "The enum values of market status includes: 1 - normal (order submission \u0026 cancellation are allowed)，",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Reference Data"
                ],
                "summary": "The endpoint returns current market status",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MarketStatus"
                        }
                    }
                }
            }
        },
        "/v2/summary.json": {
            "get": {
                "description": "This endpoint allows users to get system status, Incidents and planned maintenance.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "Reference Data"
                ],
                "summary": "Get system status",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.Summary"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "models.MarketStatus": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "data": {
                    "type": "object",
                    "properties": {
                        "affectedSymbols": {
                            "type": "string"
                        },
                        "haltEndTime": {
                            "type": "integer"
                        },
                        "haltReason": {
                            "type": "integer"
                        },
                        "haltStartTime": {
                            "type": "integer"
                        },
                        "marketStatus": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                },
                "message": {
                    "type": "string"
                }
            }
        },
        "models.Summary": {
            "type": "object",
            "properties": {
                "status": {
                    "type": "Status"
                }
            }
        }
    }
}