openapi: 3.0.1
info:
  contact:
    email: qishiwenjun@163.com
    name: Turing Zhu
  description: Huobi API
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  title: Huobi API
  version: "0.1"
servers:
- url: https://api.testnet.huobi.pro/
paths:
  /api/v2/summary.json:
    get:
      description: This endpoint allows users to get system status, Incidents and
        planned maintenance.
      operationId: Summary
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: OK
      summary: Get system status
      tags:
      - Reference Data
  /v1/common/currencys:
    get:
      description: This endpoint returns all Huobi's supported trading currencies.
      operationId: SupportCurrenciesV1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: supported currency
      summary: Get all Supported Currencies
      tags:
      - Reference Data
  /v1/common/symbols:
    get:
      description: This endpoint returns all Huobi's supported trading symbol.
      operationId: SupportedTradingSymbolV1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: Supported Trading Symbol List
      summary: Get all Supported Trading Symbol
      tags:
      - Reference Data
  /v1/common/timestamp:
    get:
      description: This endpoint returns the current timestamp, i.e. the number of
        milliseconds that have elapsed since 00:00:00 UTC on 1 January 1970.
      operationId: TimestampV1
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: OK
      summary: Get Current Timestamp
      tags:
      - Reference Data
  /v2/market-status:
    get:
      description: 'The enum values of market status includes: 1 - normal (order submission
        & cancellation are allowed)，'
      operationId: MarketStatusV2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: OK
      summary: The endpoint returns current market status
      tags:
      - Reference Data
  /v2/reference/currencies:
    get:
      description: API user could query static reference information for each currency,
        as well as its corresponding chain(s). (Public Endpoint)
      operationId: CurrencyAndChainsV2
      parameters:
      - description: btc, ltc, etc ...(available currencies in Huobi Global)
        in: path
        name: currency
        required: true
        schema:
          type: string
      - description: true or false (if not filled, default value is true)
        in: path
        name: authorizedUser
        required: true
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Currency & Chains list
      summary: Currency & Chains
      tags:
      - Reference Data
components:
  schemas:
    models.AffectedComponent:
      example:
        old_status: old_status
        code: code
        name: name
        new_status: new_status
      properties:
        code:
          type: string
        name:
          type: string
        new_status:
          type: string
        old_status:
          type: string
      type: object
    models.Chain:
      properties:
        baseChain:
          type: string
        baseChainProtocol:
          type: string
        chain:
          type: string
        deposit_status:
          type: string
        displayName:
          type: string
        isDynamic:
          type: boolean
        maxTransactFeeWithdraw:
          type: number
        maxWithdrawAmt:
          type: number
        minDepositAmt:
          type: number
        minTransactFeeWithdraw:
          type: number
        minWithdrawAmt:
          type: number
        numOfConfirmations:
          type: integer
        numOfFastConfirmations:
          type: integer
        transactFeeRateWithdraw:
          type: number
        transactFeeWithdraw:
          type: number
        withdrawFeeType:
          type: string
        withdrawPrecision:
          type: integer
        withdrawQuotaPerDay:
          type: number
        withdrawQuotaPerYear:
          type: number
        withdrawQuotaTotal:
          type: number
        withdrawStatus:
          type: string
      type: object
    models.Component:
      example:
        page_id: page_id
        updated_at: updated_at
        group_id: group_id
        name: name
        created_at: created_at
        description: description
        showcase: true
        only_show_if_degraded: true
        id: id
        position: 0
        group: true
        status: status
      properties:
        created_at:
          type: string
        description:
          type: string
        group:
          type: boolean
        group_id:
          type: string
        id:
          type: string
        name:
          type: string
        only_show_if_degraded:
          type: boolean
        page_id:
          type: string
        position:
          type: integer
        showcase:
          type: boolean
        status:
          type: string
        updated_at:
          type: string
      type: object
    models.Currency:
      properties:
        chains:
          items:
            $ref: '#/components/schemas/models.Chain'
          type: array
        currency:
          type: string
        instStatus:
          type: string
      type: object
    models.Incident:
      example:
        monitoring_at: monitoring_at
        components:
        - page_id: page_id
          updated_at: updated_at
          group_id: group_id
          name: name
          created_at: created_at
          description: description
          showcase: true
          only_show_if_degraded: true
          id: id
          position: 0
          group: true
          status: status
        - page_id: page_id
          updated_at: updated_at
          group_id: group_id
          name: name
          created_at: created_at
          description: description
          showcase: true
          only_show_if_degraded: true
          id: id
          position: 0
          group: true
          status: status
        impact: impact
        created_at: created_at
        page_id: page_id
        updated_at: updated_at
        resolved_at: resolved_at
        name: name
        incident_updates:
        - incident_id: incident_id
          updated_at: updated_at
          tweet_id: tweet_id
          created_at: created_at
          custom_tweet: '{}'
          id: id
          body: body
          affected_components:
          - old_status: old_status
            code: code
            name: name
            new_status: new_status
          - old_status: old_status
            code: code
            name: name
            new_status: new_status
          deliver_notifications: true
          display_at: display_at
          status: status
        - incident_id: incident_id
          updated_at: updated_at
          tweet_id: tweet_id
          created_at: created_at
          custom_tweet: '{}'
          id: id
          body: body
          affected_components:
          - old_status: old_status
            code: code
            name: name
            new_status: new_status
          - old_status: old_status
            code: code
            name: name
            new_status: new_status
          deliver_notifications: true
          display_at: display_at
          status: status
        started_at: started_at
        id: id
        shortlink: shortlink
        status: status
      properties:
        components:
          items:
            $ref: '#/components/schemas/models.Component'
          type: array
        created_at:
          type: string
        id:
          type: string
        impact:
          type: string
        incident_updates:
          items:
            $ref: '#/components/schemas/models.IncidentUpdate'
          type: array
        monitoring_at:
          type: string
        name:
          type: string
        page_id:
          type: string
        resolved_at:
          type: string
        shortlink:
          type: string
        started_at:
          type: string
        status:
          type: string
        updated_at:
          type: string
      type: object
    models.IncidentUpdate:
      example:
        incident_id: incident_id
        updated_at: updated_at
        tweet_id: tweet_id
        created_at: created_at
        custom_tweet: '{}'
        id: id
        body: body
        affected_components:
        - old_status: old_status
          code: code
          name: name
          new_status: new_status
        - old_status: old_status
          code: code
          name: name
          new_status: new_status
        deliver_notifications: true
        display_at: display_at
        status: status
      properties:
        affected_components:
          items:
            $ref: '#/components/schemas/models.AffectedComponent'
          type: array
        body:
          type: string
        created_at:
          type: string
        custom_tweet:
          properties: {}
          type: object
        deliver_notifications:
          type: boolean
        display_at:
          type: string
        id:
          type: string
        incident_id:
          type: string
        status:
          type: string
        tweet_id:
          type: string
        updated_at:
          type: string
      type: object
    models.MarketStatus:
      example:
        affectedSymbols: affectedSymbols
        haltReason: 6
        haltEndTime: 0
        marketStatus: 1
        haltStartTime: 1
      properties:
        affectedSymbols:
          type: string
        haltEndTime:
          type: integer
        haltReason:
          type: integer
        haltStartTime:
          type: integer
        marketStatus:
          example: 1
          type: integer
      type: object
    models.Page:
      example:
        updated_at: updated_at
        name: name
        id: id
        time_zone: time_zone
        url: url
      properties:
        id:
          type: string
        name:
          type: string
        time_zone:
          type: string
        updated_at:
          type: string
        url:
          type: string
      type: object
    models.Response:
      example:
        code: 0
        data: '{}'
        message: message
      properties:
        code:
          type: integer
        data:
          properties: {}
          type: object
        message:
          type: string
      type: object
    models.ResponseV1:
      example:
        data: '{}'
        status: status
      properties:
        data:
          properties: {}
          type: object
        status:
          type: string
      type: object
    models.ScheduledMaintenance:
      example:
        monitoring_at: monitoring_at
        components:
        - page_id: page_id
          updated_at: updated_at
          group_id: group_id
          name: name
          created_at: created_at
          description: description
          showcase: true
          only_show_if_degraded: true
          id: id
          position: 0
          group: true
          status: status
        - page_id: page_id
          updated_at: updated_at
          group_id: group_id
          name: name
          created_at: created_at
          description: description
          showcase: true
          only_show_if_degraded: true
          id: id
          position: 0
          group: true
          status: status
        impact: impact
        created_at: created_at
        scheduled_for: scheduled_for
        page_id: page_id
        updated_at: updated_at
        resolved_at: resolved_at
        name: name
        incident_updates:
        - incident_id: incident_id
          updated_at: updated_at
          tweet_id: tweet_id
          created_at: created_at
          custom_tweet: '{}'
          id: id
          body: body
          affected_components:
          - old_status: old_status
            code: code
            name: name
            new_status: new_status
          - old_status: old_status
            code: code
            name: name
            new_status: new_status
          deliver_notifications: true
          display_at: display_at
          status: status
        - incident_id: incident_id
          updated_at: updated_at
          tweet_id: tweet_id
          created_at: created_at
          custom_tweet: '{}'
          id: id
          body: body
          affected_components:
          - old_status: old_status
            code: code
            name: name
            new_status: new_status
          - old_status: old_status
            code: code
            name: name
            new_status: new_status
          deliver_notifications: true
          display_at: display_at
          status: status
        started_at: started_at
        id: id
        scheduled_until: scheduled_until
        shortlink: shortlink
        status: status
      properties:
        components:
          items:
            $ref: '#/components/schemas/models.Component'
          type: array
        created_at:
          type: string
        id:
          type: string
        impact:
          type: string
        incident_updates:
          items:
            $ref: '#/components/schemas/models.IncidentUpdate'
          type: array
        monitoring_at:
          type: string
        name:
          type: string
        page_id:
          type: string
        resolved_at:
          type: string
        scheduled_for:
          type: string
        scheduled_until:
          type: string
        shortlink:
          type: string
        started_at:
          type: string
        status:
          type: string
        updated_at:
          type: string
      type: object
    models.Summary:
      example:
        components:
        - page_id: page_id
          updated_at: updated_at
          group_id: group_id
          name: name
          created_at: created_at
          description: description
          showcase: true
          only_show_if_degraded: true
          id: id
          position: 0
          group: true
          status: status
        - page_id: page_id
          updated_at: updated_at
          group_id: group_id
          name: name
          created_at: created_at
          description: description
          showcase: true
          only_show_if_degraded: true
          id: id
          position: 0
          group: true
          status: status
        incidents:
        - monitoring_at: monitoring_at
          components:
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          impact: impact
          created_at: created_at
          page_id: page_id
          updated_at: updated_at
          resolved_at: resolved_at
          name: name
          incident_updates:
          - incident_id: incident_id
            updated_at: updated_at
            tweet_id: tweet_id
            created_at: created_at
            custom_tweet: '{}'
            id: id
            body: body
            affected_components:
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            deliver_notifications: true
            display_at: display_at
            status: status
          - incident_id: incident_id
            updated_at: updated_at
            tweet_id: tweet_id
            created_at: created_at
            custom_tweet: '{}'
            id: id
            body: body
            affected_components:
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            deliver_notifications: true
            display_at: display_at
            status: status
          started_at: started_at
          id: id
          shortlink: shortlink
          status: status
        - monitoring_at: monitoring_at
          components:
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          impact: impact
          created_at: created_at
          page_id: page_id
          updated_at: updated_at
          resolved_at: resolved_at
          name: name
          incident_updates:
          - incident_id: incident_id
            updated_at: updated_at
            tweet_id: tweet_id
            created_at: created_at
            custom_tweet: '{}'
            id: id
            body: body
            affected_components:
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            deliver_notifications: true
            display_at: display_at
            status: status
          - incident_id: incident_id
            updated_at: updated_at
            tweet_id: tweet_id
            created_at: created_at
            custom_tweet: '{}'
            id: id
            body: body
            affected_components:
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            deliver_notifications: true
            display_at: display_at
            status: status
          started_at: started_at
          id: id
          shortlink: shortlink
          status: status
        page:
          updated_at: updated_at
          name: name
          id: id
          time_zone: time_zone
          url: url
        scheduled_maintenances:
        - monitoring_at: monitoring_at
          components:
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          impact: impact
          created_at: created_at
          scheduled_for: scheduled_for
          page_id: page_id
          updated_at: updated_at
          resolved_at: resolved_at
          name: name
          incident_updates:
          - incident_id: incident_id
            updated_at: updated_at
            tweet_id: tweet_id
            created_at: created_at
            custom_tweet: '{}'
            id: id
            body: body
            affected_components:
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            deliver_notifications: true
            display_at: display_at
            status: status
          - incident_id: incident_id
            updated_at: updated_at
            tweet_id: tweet_id
            created_at: created_at
            custom_tweet: '{}'
            id: id
            body: body
            affected_components:
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            deliver_notifications: true
            display_at: display_at
            status: status
          started_at: started_at
          id: id
          scheduled_until: scheduled_until
          shortlink: shortlink
          status: status
        - monitoring_at: monitoring_at
          components:
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          impact: impact
          created_at: created_at
          scheduled_for: scheduled_for
          page_id: page_id
          updated_at: updated_at
          resolved_at: resolved_at
          name: name
          incident_updates:
          - incident_id: incident_id
            updated_at: updated_at
            tweet_id: tweet_id
            created_at: created_at
            custom_tweet: '{}'
            id: id
            body: body
            affected_components:
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            deliver_notifications: true
            display_at: display_at
            status: status
          - incident_id: incident_id
            updated_at: updated_at
            tweet_id: tweet_id
            created_at: created_at
            custom_tweet: '{}'
            id: id
            body: body
            affected_components:
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            deliver_notifications: true
            display_at: display_at
            status: status
          started_at: started_at
          id: id
          scheduled_until: scheduled_until
          shortlink: shortlink
          status: status
        status:
          indicator: indicator
          description: description
      properties:
        components:
          items:
            $ref: '#/components/schemas/models.Component'
          type: array
        incidents:
          items:
            $ref: '#/components/schemas/models.Incident'
          type: array
        page:
          $ref: '#/components/schemas/models.Page'
        scheduled_maintenances:
          items:
            $ref: '#/components/schemas/models.ScheduledMaintenance'
          type: array
        status:
          $ref: '#/components/schemas/models.SystemStatus'
      type: object
    models.Symbol:
      example:
        charge-time: charge-time
        min-order-value: 4.145608029883936
        sell-market-min-order-amt: 1.0246457001441578
        leverage_ratio: 5.962133916683182
        symbol: symbol
        symbol-partition: symbol-partition
        value-precision: 6
        limit-order-min-order-amt: 2.3021358869347655
        min-order-amt: 2.027123023002322
        buy-market-max-order-value: 6.027456183070403
        init-nav: 1.4658129805029452
        underlying: underlying
        base-currency: base-currency
        rebal-threshold: 1.2315135367772556
        max-order-amt: 7.061401241503109
        max-order-value: 9.301444243932576
        limit-order-max-order-amt: 5.637376656633329
        price-precision: 7
        mgmt-fee-rate: 3.616076749251911
        state: state
        amount-precision: 0
        sell_market_max_order_amt: 1.4894159098541704
        quote-currency: quote-currency
        rebal-time: rebal-time
      properties:
        amount-precision:
          type: integer
        base-currency:
          type: string
        buy-market-max-order-value:
          type: number
        charge-time:
          type: string
        init-nav:
          type: number
        leverage_ratio:
          type: number
        limit-order-max-order-amt:
          type: number
        limit-order-min-order-amt:
          type: number
        max-order-amt:
          type: number
        max-order-value:
          type: number
        mgmt-fee-rate:
          type: number
        min-order-amt:
          type: number
        min-order-value:
          type: number
        price-precision:
          type: integer
        quote-currency:
          type: string
        rebal-threshold:
          type: number
        rebal-time:
          type: string
        sell-market-min-order-amt:
          type: number
        sell_market_max_order_amt:
          type: number
        state:
          type: string
        symbol:
          type: string
        symbol-partition:
          type: string
        underlying:
          type: string
        value-precision:
          type: integer
      type: object
    models.SystemStatus:
      example:
        indicator: indicator
        description: description
      properties:
        description:
          type: string
        indicator:
          type: string
      type: object
    inline_response_200:
      example:
        components:
        - page_id: page_id
          updated_at: updated_at
          group_id: group_id
          name: name
          created_at: created_at
          description: description
          showcase: true
          only_show_if_degraded: true
          id: id
          position: 0
          group: true
          status: status
        - page_id: page_id
          updated_at: updated_at
          group_id: group_id
          name: name
          created_at: created_at
          description: description
          showcase: true
          only_show_if_degraded: true
          id: id
          position: 0
          group: true
          status: status
        incidents:
        - '{}'
        - '{}'
        page:
          updated_at: updated_at
          name: name
          id: id
          time_zone: time_zone
          url: url
        models.Summary:
          components:
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          incidents:
          - monitoring_at: monitoring_at
            components:
            - page_id: page_id
              updated_at: updated_at
              group_id: group_id
              name: name
              created_at: created_at
              description: description
              showcase: true
              only_show_if_degraded: true
              id: id
              position: 0
              group: true
              status: status
            - page_id: page_id
              updated_at: updated_at
              group_id: group_id
              name: name
              created_at: created_at
              description: description
              showcase: true
              only_show_if_degraded: true
              id: id
              position: 0
              group: true
              status: status
            impact: impact
            created_at: created_at
            page_id: page_id
            updated_at: updated_at
            resolved_at: resolved_at
            name: name
            incident_updates:
            - incident_id: incident_id
              updated_at: updated_at
              tweet_id: tweet_id
              created_at: created_at
              custom_tweet: '{}'
              id: id
              body: body
              affected_components:
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              deliver_notifications: true
              display_at: display_at
              status: status
            - incident_id: incident_id
              updated_at: updated_at
              tweet_id: tweet_id
              created_at: created_at
              custom_tweet: '{}'
              id: id
              body: body
              affected_components:
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              deliver_notifications: true
              display_at: display_at
              status: status
            started_at: started_at
            id: id
            shortlink: shortlink
            status: status
          - monitoring_at: monitoring_at
            components:
            - page_id: page_id
              updated_at: updated_at
              group_id: group_id
              name: name
              created_at: created_at
              description: description
              showcase: true
              only_show_if_degraded: true
              id: id
              position: 0
              group: true
              status: status
            - page_id: page_id
              updated_at: updated_at
              group_id: group_id
              name: name
              created_at: created_at
              description: description
              showcase: true
              only_show_if_degraded: true
              id: id
              position: 0
              group: true
              status: status
            impact: impact
            created_at: created_at
            page_id: page_id
            updated_at: updated_at
            resolved_at: resolved_at
            name: name
            incident_updates:
            - incident_id: incident_id
              updated_at: updated_at
              tweet_id: tweet_id
              created_at: created_at
              custom_tweet: '{}'
              id: id
              body: body
              affected_components:
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              deliver_notifications: true
              display_at: display_at
              status: status
            - incident_id: incident_id
              updated_at: updated_at
              tweet_id: tweet_id
              created_at: created_at
              custom_tweet: '{}'
              id: id
              body: body
              affected_components:
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              deliver_notifications: true
              display_at: display_at
              status: status
            started_at: started_at
            id: id
            shortlink: shortlink
            status: status
          page:
            updated_at: updated_at
            name: name
            id: id
            time_zone: time_zone
            url: url
          scheduled_maintenances:
          - monitoring_at: monitoring_at
            components:
            - page_id: page_id
              updated_at: updated_at
              group_id: group_id
              name: name
              created_at: created_at
              description: description
              showcase: true
              only_show_if_degraded: true
              id: id
              position: 0
              group: true
              status: status
            - page_id: page_id
              updated_at: updated_at
              group_id: group_id
              name: name
              created_at: created_at
              description: description
              showcase: true
              only_show_if_degraded: true
              id: id
              position: 0
              group: true
              status: status
            impact: impact
            created_at: created_at
            scheduled_for: scheduled_for
            page_id: page_id
            updated_at: updated_at
            resolved_at: resolved_at
            name: name
            incident_updates:
            - incident_id: incident_id
              updated_at: updated_at
              tweet_id: tweet_id
              created_at: created_at
              custom_tweet: '{}'
              id: id
              body: body
              affected_components:
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              deliver_notifications: true
              display_at: display_at
              status: status
            - incident_id: incident_id
              updated_at: updated_at
              tweet_id: tweet_id
              created_at: created_at
              custom_tweet: '{}'
              id: id
              body: body
              affected_components:
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              deliver_notifications: true
              display_at: display_at
              status: status
            started_at: started_at
            id: id
            scheduled_until: scheduled_until
            shortlink: shortlink
            status: status
          - monitoring_at: monitoring_at
            components:
            - page_id: page_id
              updated_at: updated_at
              group_id: group_id
              name: name
              created_at: created_at
              description: description
              showcase: true
              only_show_if_degraded: true
              id: id
              position: 0
              group: true
              status: status
            - page_id: page_id
              updated_at: updated_at
              group_id: group_id
              name: name
              created_at: created_at
              description: description
              showcase: true
              only_show_if_degraded: true
              id: id
              position: 0
              group: true
              status: status
            impact: impact
            created_at: created_at
            scheduled_for: scheduled_for
            page_id: page_id
            updated_at: updated_at
            resolved_at: resolved_at
            name: name
            incident_updates:
            - incident_id: incident_id
              updated_at: updated_at
              tweet_id: tweet_id
              created_at: created_at
              custom_tweet: '{}'
              id: id
              body: body
              affected_components:
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              deliver_notifications: true
              display_at: display_at
              status: status
            - incident_id: incident_id
              updated_at: updated_at
              tweet_id: tweet_id
              created_at: created_at
              custom_tweet: '{}'
              id: id
              body: body
              affected_components:
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              - old_status: old_status
                code: code
                name: name
                new_status: new_status
              deliver_notifications: true
              display_at: display_at
              status: status
            started_at: started_at
            id: id
            scheduled_until: scheduled_until
            shortlink: shortlink
            status: status
          status:
            indicator: indicator
            description: description
        scheduled_maintenances:
        - monitoring_at: monitoring_at
          components:
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          impact: impact
          created_at: created_at
          scheduled_for: scheduled_for
          page_id: page_id
          updated_at: updated_at
          resolved_at: resolved_at
          name: name
          incident_updates:
          - incident_id: incident_id
            updated_at: updated_at
            tweet_id: tweet_id
            created_at: created_at
            custom_tweet: '{}'
            id: id
            body: body
            affected_components:
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            deliver_notifications: true
            display_at: display_at
            status: status
          - incident_id: incident_id
            updated_at: updated_at
            tweet_id: tweet_id
            created_at: created_at
            custom_tweet: '{}'
            id: id
            body: body
            affected_components:
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            deliver_notifications: true
            display_at: display_at
            status: status
          started_at: started_at
          id: id
          scheduled_until: scheduled_until
          shortlink: shortlink
          status: status
        - monitoring_at: monitoring_at
          components:
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          - page_id: page_id
            updated_at: updated_at
            group_id: group_id
            name: name
            created_at: created_at
            description: description
            showcase: true
            only_show_if_degraded: true
            id: id
            position: 0
            group: true
            status: status
          impact: impact
          created_at: created_at
          scheduled_for: scheduled_for
          page_id: page_id
          updated_at: updated_at
          resolved_at: resolved_at
          name: name
          incident_updates:
          - incident_id: incident_id
            updated_at: updated_at
            tweet_id: tweet_id
            created_at: created_at
            custom_tweet: '{}'
            id: id
            body: body
            affected_components:
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            deliver_notifications: true
            display_at: display_at
            status: status
          - incident_id: incident_id
            updated_at: updated_at
            tweet_id: tweet_id
            created_at: created_at
            custom_tweet: '{}'
            id: id
            body: body
            affected_components:
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            - old_status: old_status
              code: code
              name: name
              new_status: new_status
            deliver_notifications: true
            display_at: display_at
            status: status
          started_at: started_at
          id: id
          scheduled_until: scheduled_until
          shortlink: shortlink
          status: status
        status:
          indicator: indicator
          description: description
      properties:
        components:
          items:
            $ref: '#/components/schemas/models.Component'
          type: array
        incidents:
          items:
            allOf:
            - $ref: '#/components/schemas/models.Incident'
            - properties:
                incident_updates:
                  items:
                    allOf:
                    - $ref: '#/definitions/models.IncidentUpdate'
                    - properties:
                        affected_components:
                          items:
                            $ref: '#/definitions/models.AffectedComponent'
                          type: array
                      type: object
                    type: object
                  type: array
              type: object
            type: object
          type: array
        models.Summary:
          $ref: '#/components/schemas/models.Summary'
        page:
          $ref: '#/components/schemas/models.Page'
        scheduled_maintenances:
          items:
            $ref: '#/components/schemas/models.ScheduledMaintenance'
          type: array
        status:
          $ref: '#/components/schemas/models.SystemStatus'
    inline_response_200_1:
      example:
        data:
        - data
        - data
        models.Response:
          code: 0
          data: '{}'
          message: message
      properties:
        data:
          items:
            type: string
          type: array
        models.Response:
          $ref: '#/components/schemas/models.Response'
    inline_response_200_2:
      example:
        data:
        - charge-time: charge-time
          min-order-value: 4.145608029883936
          sell-market-min-order-amt: 1.0246457001441578
          leverage_ratio: 5.962133916683182
          symbol: symbol
          symbol-partition: symbol-partition
          value-precision: 6
          limit-order-min-order-amt: 2.3021358869347655
          min-order-amt: 2.027123023002322
          buy-market-max-order-value: 6.027456183070403
          init-nav: 1.4658129805029452
          underlying: underlying
          base-currency: base-currency
          rebal-threshold: 1.2315135367772556
          max-order-amt: 7.061401241503109
          max-order-value: 9.301444243932576
          limit-order-max-order-amt: 5.637376656633329
          price-precision: 7
          mgmt-fee-rate: 3.616076749251911
          state: state
          amount-precision: 0
          sell_market_max_order_amt: 1.4894159098541704
          quote-currency: quote-currency
          rebal-time: rebal-time
        - charge-time: charge-time
          min-order-value: 4.145608029883936
          sell-market-min-order-amt: 1.0246457001441578
          leverage_ratio: 5.962133916683182
          symbol: symbol
          symbol-partition: symbol-partition
          value-precision: 6
          limit-order-min-order-amt: 2.3021358869347655
          min-order-amt: 2.027123023002322
          buy-market-max-order-value: 6.027456183070403
          init-nav: 1.4658129805029452
          underlying: underlying
          base-currency: base-currency
          rebal-threshold: 1.2315135367772556
          max-order-amt: 7.061401241503109
          max-order-value: 9.301444243932576
          limit-order-max-order-amt: 5.637376656633329
          price-precision: 7
          mgmt-fee-rate: 3.616076749251911
          state: state
          amount-precision: 0
          sell_market_max_order_amt: 1.4894159098541704
          quote-currency: quote-currency
          rebal-time: rebal-time
        models.ResponseV1:
          data: '{}'
          status: status
      properties:
        data:
          items:
            $ref: '#/components/schemas/models.Symbol'
          type: array
        models.ResponseV1:
          $ref: '#/components/schemas/models.ResponseV1'
    inline_response_200_3:
      example:
        data:
          affectedSymbols: affectedSymbols
          haltReason: 6
          haltEndTime: 0
          marketStatus: 1
          haltStartTime: 1
        models.Response:
          code: 0
          data: '{}'
          message: message
      properties:
        data:
          $ref: '#/components/schemas/models.MarketStatus'
        models.Response:
          $ref: '#/components/schemas/models.Response'
    inline_response_200_4:
      example:
        data: '{}'
        models.Response:
          code: 0
          data: '{}'
          message: message
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/models.Currency'
          - properties:
              chains:
                items:
                  $ref: '#/definitions/models.Chain'
                type: array
            type: object
          type: object
        models.Response:
          $ref: '#/components/schemas/models.Response'
