openapi: 3.0.1
info:
  contact:
    email: qishiwenjun@163.com
    name: Turing Zhu
  description: Huobi API
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT
  title: Huobi API
  version: "0.1"
servers:
- url: https://api.testnet.huobi.pro/
paths:
  /v1/common/currencys:
    get:
      description: This endpoint returns all Huobi's supported trading currencies.
      operationId: SupportCurrenciesV1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: supported currency
      summary: Get all Supported Currencies
      tags:
      - Reference Data
  /v1/common/timestamp:
    get:
      description: This endpoint returns the current timestamp, i.e. the number of
        milliseconds that have elapsed since 00:00:00 UTC on 1 January 1970.
      operationId: TimestampV1
      responses:
        "200":
          content:
            application/json:
              schema:
                type: integer
          description: OK
      summary: Get Current Timestamp
      tags:
      - Reference Data
  /v2/reference/currencies:
    get:
      description: API user could query static reference information for each currency,
        as well as its corresponding chain(s). (Public Endpoint)
      operationId: CurrencyAndChainsV2
      parameters:
      - description: btc, ltc, etc ...(available currencies in Huobi Global)
        in: path
        name: currency
        required: true
        schema:
          type: string
      - description: true or false (if not filled, default value is true)
        in: path
        name: authorizedUser
        required: true
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: Currency & Chains list
      summary: Currency & Chains
      tags:
      - Reference Data
components:
  schemas:
    models.Chain:
      properties:
        baseChain:
          type: string
        baseChainProtocol:
          type: string
        chain:
          type: string
        deposit_status:
          type: string
        displayName:
          type: string
        isDynamic:
          type: boolean
        maxTransactFeeWithdraw:
          type: number
        maxWithdrawAmt:
          type: number
        minDepositAmt:
          type: number
        minTransactFeeWithdraw:
          type: number
        minWithdrawAmt:
          type: number
        numOfConfirmations:
          type: integer
        numOfFastConfirmations:
          type: integer
        transactFeeRateWithdraw:
          type: number
        transactFeeWithdraw:
          type: number
        withdrawFeeType:
          type: string
        withdrawPrecision:
          type: integer
        withdrawQuotaPerDay:
          type: number
        withdrawQuotaPerYear:
          type: number
        withdrawQuotaTotal:
          type: number
        withdrawStatus:
          type: string
      type: object
    models.Currency:
      properties:
        chains:
          items:
            $ref: '#/components/schemas/models.Chain'
          type: array
        currency:
          type: string
        instStatus:
          type: string
      type: object
    models.Response:
      example:
        code: 0
        data: '{}'
        message: message
      properties:
        code:
          type: integer
        data:
          properties: {}
          type: object
        message:
          type: string
      type: object
    inline_response_200:
      example:
        data:
        - data
        - data
        models.Response:
          code: 0
          data: '{}'
          message: message
      properties:
        data:
          items:
            type: string
          type: array
        models.Response:
          $ref: '#/components/schemas/models.Response'
    inline_response_200_1:
      example:
        data: '{}'
        models.Response:
          code: 0
          data: '{}'
          message: message
      properties:
        data:
          allOf:
          - $ref: '#/components/schemas/models.Currency'
          - properties:
              chains:
                items:
                  $ref: '#/definitions/models.Chain'
                type: array
            type: object
          type: object
        models.Response:
          $ref: '#/components/schemas/models.Response'
